


  body {
    background-color: rgb(13, 13, 73);
  }

  /* header  */
  * {
    text-decoration: none;

  }

  .navber {
    background: rgb(18, 28, 55);
    font-family: calibri;
    padding-right: 15px;
    padding-left: 15px;
    margin: -7px;
    margin-bottom: 0%;
  }

  .navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  .logo a {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    font-family: cursive;
    color: rgb(10, 185, 28);


  }

  li {
    list-style: none;
    display: inline-block;
  }

  li a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
  }

  li a:hover {
    color: rgb(192, 192, 243);
    font-size: 20px;
  }

  button {
    background-color: black;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
  }

  button a {
    color: white;
    font-weight: bold;
    font-size: 15px;
  }

  /* main sytle  */

  .sectionfirst {
    color: white;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }

  .sectionfirst div {
    width: 30%;
  }

  .leftdiv {
    font-size: 2rem;
    margin-top: 50px;
  }

  .colorid {
    color: purple;
  }

  .rightdiv img {
    float: right;
  }

  #element {
    color: purple;
  }

